/* Styles for the homepage */
.homepage-background {
  background-image: url('C:\Users\DELL\e-waste\e-waste-platform\public\images\bg.png'); /* Add your background image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content h1 {
  color: #085525;
  font-size: 3rem;
  margin-bottom: 20px;
  align-items: left;
}

.get-started-btn {
  font-size: 1.5rem;
  padding: 10px 30px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
