.login-background {

    background-color: #c2ecc6;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {


    background-color: rgba(41, 43, 40, 0.75);

    padding: 2rem;
    border-radius: 8px;
    color: white;
}

.login-form h3 {
    color: white;
}

.login-form .form-control {
    background-color: #333;
    color: white;
    border: none;
}

.login-form .form-control::placeholder {
    color: #aaa;
}

.login-form .btn-danger {
    background-color: #50960b;
    border: none;
}
.login-form .btn-danger:hover{
  background-color: #49504a !important; /* Darker green on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
}

.login-form .btn-link {
    color: #737373;
}

.login-form .text-secondary {
    color: #f3efef;
    
}



.icons {
    padding-top:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
     /* Ensures full height for vertical centering */
    gap: 2rem;  /* Optional: Adjust the spacing between the icon and image */
    
}

.image {
    width: 2rem;  /* Set the desired size */
    height: 2rem;  /* Ensures both icon and image are of the same size */
}

