.registration-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid#ccc;
  border-radius: 5px;
  background-color: #a9d6a7;

}

.form-group {
  margin-bottom: 15px
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid#08300a;
  border-radius:5px;
}

button {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #115a0a;
  color:#fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color:#97f16d;
}

@media (max-width: 768px) {
  .registration-form {
    padding: 10px;
  }
}